body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url(/court.png);
    background-size: cover;
    
   
}

#box1 {
  width: 150px;
  height: 150px;
  background-color: lightpink;
  /* animation-name: pulse; */
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    background-color: lightpink;
  }
  100% {
    background-color: lightskyblue;
  }
}

#box2 {
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: white;
  /* animation-name: slide; */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes slide {
  to {
    transform: translateX(100vh);
  }
}

#box3 {
  width: 150px;
  height: 150px;
  background-color: lightsalmon;
  /* animation-name: grow, pulse; */
  animation-duration: 2s, 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes grow {
  to {
    width: 100vw;
    background-color: lightslategray;
  }
}

#ball {
  background-color: lightseagreen;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  bottom: 0vh;
  position: absolute;
  animation-name: roll, bounce, spin;
  animation-duration: 5s, 0.45s, 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear, ease, linear;
  background: url(basketall.png);
  background-size: contain;
}

@keyframes roll {
  0% {
    left: 0vw;
  }

  100% {
    left: 85vw;
  }
}

@keyframes bounce {
  to {
    bottom: 50vh;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
